<footer class="footer">
  <div class="content-container footer__content footer__content_top">
    <div class="footer__logo">
      <a href="/">
        <img src="../assets/img/icons/logo.svg" alt="">
      </a>
    </div>
    <div class="footer__col footer__col_desc footer__desc">
      400 University Drive Suite 200 Coral Gables,
      <br>
      FL 33134 USA
    </div>
    <a href="#" class="btn btn-gray">
      Разделы
    </a>
    <a href="#" class="btn btn-gray">
      Помощь
    </a>
    <a href="#" class="btn btn-gray">
      Блог
    </a>
    <a href="#" class="btn btn-black">
      <span class="text">
        Главная
      </span>
    </a>
    <a href="#" class="btn btn-black">
      <span class="text">
        Оплата
      </span>
    </a>
    <a href="#" class="btn btn-black">
      <span class="text">
        Магазин
      </span>
    </a>
    <a href="#" class="btn btn-black footer__col footer__col_long-2">
      <span class="text">
        Возвраты
      </span>
    </a>
    <a href="#" class="btn btn-black">
      <span class="text">
        О нас
      </span>
    </a>
    <a href="#" class="btn btn-black footer__col footer__col_long-2">
      <span class="text">
        Политика конфиденциальности
      </span>
    </a>
    <a href="#" class="btn btn-black">
      <span class="text">
        Контакты
      </span>
    </a>
    <form action="#" class="subscribe-form footer__subscribe-form footer__col footer__col_form">
      <label>
        <input type="text" placeholder="Enter Your Email Address">
      </label>
      <button type="submit" class="black-b-border subscribe-form__submit">
        <span class="text">
          Подписаться
        </span>
      </button>
    </form>
  </div>
  <div class="content-container footer__content footer__content_bottom">
    2023 furino. Все права защищены
  </div>
</footer>